.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__container {
  display: flex;
  align-items: center;
  padding: 19px 104px 13px 104px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header__logo {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin: 0 auto 0 0;
}

.header__logo--dark {
  color: #1a1b22;
}

.header__container--dark {
  background-color: #ffffff;
  border-bottom: 1px solid #d1d2d6;
}
